* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

a {
    text-decoration: none;
    color: #f6f6f6;
}

li {
    list-style: none;
}

.fas {
    color: #f2f2f2;
}



.logo {
    font-family: papyrus;

    color: transparent;
    font-size: 1.5rem;
    font-weight: 900;
    position: absolute;
    left: 2%;
    flex: 1;
    -webkit-text-stroke: 1px rgb(18, 18, 18);
    background-image: url(img/red.jpeg);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}


@keyframes back {
    100% {
        background-position: 700px 0;
    }
}

nav {
    background-color: #2c2929;
    padding: 24px 40px 22px 70px;
    border: 1px solid rgb(136, 129, 129);
    border-left: none;
    border-right: none;

}

nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav ul div.items {
    display: inline-flex;
    padding: 0 10px;
    margin-left: 30%;
    text-transform: uppercase;
}

nav ul div.items a {
    font-size: 15px;
    padding: 0 18px;
    transition: .6s ease;
}

nav ul div.items a:hover,
nav ul div.items a.active {
    color: #7b7777;
}



nav ul .search {
    height: 35px;
    width: 240px;
    display: flex;
    background: #f2f2f2;
    border-radius: 6px;

}



nav ul .search input {
    height: 100%;
    width: 200px;
    border: none;
    padding: 0 10px;
    font-size: 16px;
    color: #000;
    outline: none;
    border-radius: 5px 0 0 5px;
}

nav ul .search .icon {

    height: 100%;
    width: 40px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
}

nav ul .search .icon:hover {
    background: red;
}

nav ul .search .icon span {
    color: #222;
    font-size: 18px;
}



.profile {

    margin-left: 20px;
    border: 1px solid white;
    height: 35px;
    width: 35px;
    line-height: 33px;
    text-align: center;

    background: rgb(66, 65, 65);
    border-radius: 50%;
}

.profile:hover {
    background: gray;
}

.main {
    height: 110vh;
    background: #222;
}

.search-bar input {
    height: 55px;
    width: 200%;
    font-size: 1.3rem;
    color: black;
    outline: none;
    padding-left: 9px;

}

.search-bar {
    position: absolute;
    top: 33%;
    left: 32%;
    display: flex;
    width: 35%;
}


.img1 {
    width: 100%;
    height: 320px;
    object-fit: contain;
    background-image: url(img/onep.jpg);
    background-size: cover;
    background-position: center center;
    color: white;
    object-fit: contain;

}

.main ul .search-bar .icon {

    height: 54px;
    width: 30px;
    background: white;
    text-align: center;
    position: relative;
    left: 0%;
    outline: none;
    line-height: 49px;
    margin-left: -1.2px;


}

.main ul .search-bar .icon span {
    color: #000;
}

.home {


    border: 1px solid white;
    background: transparent;
    font-size: .9rem;
    height: 45px;
    width: 150px;
    line-height: 40px;
    position: absolute;
    top: 48%;
    left: 44%;
    text-align: center;
    background-color: #302f2f;
    color: whitesmoke;
}

.home:hover {
    background-color: rgb(66, 64, 64);
    color: #f2f2f2;
}

.text {
    color: rgb(249, 248, 248);
    margin-left: 33%;
    margin-top: 4%;
    font-weight: 500;
    text-align: center;

}

.text h2 {

    justify-content: center;
    text-align: center;
    transform: translate(-25%, -25%);
}

.text p {
    color: #a9a4a4;
    font-weight: 150;
    letter-spacing: 0.7px;
    width: 50%;


}

.text .p1 {
    display: none;


}

hr {
    margin-top: 450px;
    width: 90%;
    position: relative;
    left: 5%;
    top: -32%;
    outline: none;
    background-color: aqua;

}

footer ul {
    position: absolute;
    display: flex;
    top: 90%;
    padding: 20px 80px;
}

footer ul li a {
    padding: 28px;
    letter-spacing: .8px;
    font-size: 1.2rem;
}

footer ul li a:hover {
    color: #a9a4a4;
}

.p2 {
    color: rgb(144, 142, 142);
    font-weight: 50;
    font-size: 1rem;
    margin-left: 80px;
    display: flex;
    margin-top: -200px;
}

.p {
    padding-left: 500px;
}

.fa-heart {
    background: red;
}


/*Responsive*/


@media (max-width:1348px) {

    nav ul .search,
    nav .profile {
        display: none;
    }
}

@media (max-width:1426px) {
    nav .profile {
        display: none;
    }
}

@media (max-width:600px) {
    nav ul div.items {
        display: none;

    }

    .search-bar {
        width: 60%;
        margin-left: -10%;
    }

    .text p,
    .p2,
    .p {
        display: none;
    }

    .text {
        font-size: 20px;
        width: 100%;
    }

    .home {
        top: 58%;
        left: 33%;
    }

    .text h2 {
        margin-left: -20%;
    }

    hr {
        margin-top: 140%;
    }

    footer ul li a {
        letter-spacing: 0px;
        margin-left: -50px;
        font-size: 20px;
        padding: 50px;
    }



    footer ul li a.t1 {
        display: none;
    }

}